body {
  background-color: rgb(38, 41, 48);
}

.container {
  color: #f6f1f1;
  text-align: center;
}
.play {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
.game{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding:2rem;
  border: 2px solid #fff;
}
.result{
    margin-top: 2rem;
    border: 2px dotted #fff;
}
h2{
    text-align: center;
    margin:3rem;
}
.scissors {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #ffd966;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #f6f1f1;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rock {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #e49393;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-paper {
  padding: 3rem;
  border-radius: 50%;
  background: url("./hand_paper_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-scissors {
  padding: 3rem;
  background: url("./hand_scissors_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-rock {
  padding: 3rem;
  background: url("./hand_rock_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.play-again {
  width: 10rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 7px;
  background-color: #c9eeff;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
